*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
body{
    background-color: rebeccapurple;
}

#top-container{
    display: flex;
     
}
#game-title{
    margin:auto 0 auto auto;
    font-size: xx-large;
    color:rgb(247, 240, 204);
    
}
#git-logo{ 
   margin-left: 465px;
   
}
#git-logo img:hover{
      opacity: 75%;
}
#git-logo img{
    width: 50px;
    height: 50px;
    margin: auto;
}


.isBlur{
    filter: blur(2px);
-webkit-filter: blur(2px); 
}

img{
    height: 100px;
    width: 100px;
}
.cell {
    
    color: white;
    height: 150px;
    width: 150px;
    border:1px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell:hover{
    background-color: rgba(0, 0, 0, 0.177);
}



.grid{
    
    display: inline-grid;
    grid-template-columns:repeat(3,1fr);
    row-gap: 5px;
    column-gap: 5px;
    align-items: center;
    background-color: beige;
    
}
.grid-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gameover{
    font-size: 100px;
    color: rgb(247, 240, 204);
    margin-right: auto;
    margin-left: auto;
    transition: 1s;
    align-items: center;
    justify-content: center;
    
}
.draw{
    
    font-size: 100px;
    color: rgb(247, 240, 204);
    margin:auto;
    transition: 1s;
    align-items: center;
    justify-content: center;
    
}

.reset-box{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
#timer{
    color: rgb(255, 169, 132);
    position:absolute;
    font-weight: 800;
    font-size: x-large;
    top: 300px;
    left:20%;
}
@media screen and (max-width: 480px) {

    .cell{
        height: 100px;
        width: 100px;

    }
    img{
        height: 70px;
        width: 70px;
    }
    .grid-div{
        flex-direction: column-reverse;
    }
    .gameover, .draw{
        font-size: 50px;
        padding: 50px;
        font-size: 75px;
    }
    .reset-box button{
        font-size: 30px;
    }
  }
