*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    height: 100px;
    width: 100px;
}
.cell {
    color: white;
    height: 200px;
    width: 200px;
    border:1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
    display: inline-grid;
    grid-template-columns:repeat(3,1fr);
    row-gap: 10px;
    column-gap: 10px;
    background-color: rgb(176, 111, 241);
}